.env
.env.private
alto-marr/scraparr/config.yaml
gate/wireguard-keys/
portal/borg-passphrase
portal/repo-keys
spire/home-assistant-token
spire/home-assistant/.HA_VERSION
spire/home-assistant/.cache
spire/home-assistant/.ha_run.lock
spire/home-assistant/.shopping_list.json
spire/home-assistant/.ssh
spire/home-assistant/.storage
spire/home-assistant/backups
spire/home-assistant/home-assistant.log*
spire/home-assistant/home-assistant_v2*
spire/home-assistant/blueprints/automation/hvorragend/
spire/home-assistant/custom_components/
spire/home-assistant/image/
spire/home-assistant/themes/
spire/home-assistant/www/
