#main-section {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(https://mendess.xyz/walls/random-file);
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 100px - var(--bulma-navbar-height));
  box-sizing: border-box;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.title, .subtitle, .status {
  color: black !important;
}

.group-title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
