services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      TORRENTING_PORT: ${TORRENTING_PORT}
      WEBUI_PORT: 8090
    dns:
      - 1.1.1.1
    volumes:
      - ${DB_DIR}/alto-marr/torrents:/vault/alto-marr/torrents
      - ${DB_DIR}/alto-marr/qbittorrent:/config/qBittorrent
    ports:
      - 8090:8090
      - ${TORRENTING_PORT}:${TORRENTING_PORT}
      - ${TORRENTING_PORT}:${TORRENTING_PORT}/udp
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      TZ: ${TZ}
    ports:
      - 8191:8191
    dns:
      - 1.1.1.1
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${DB_DIR}/alto-marr/prowlarr:/config
    ports:
      - 9696:9696
    dns:
      - 1.1.1.1
    depends_on:
      - flaresolverr
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_DIR}/alto-marr/media:/vault/alto-marr/media
      - ${DB_DIR}/alto-marr/torrents:/vault/alto-marr/torrents
      - ${DB_DIR}/alto-marr/radarr:/config
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_DIR}/alto-marr/media:/vault/alto-marr/media
      - ${DB_DIR}/alto-marr/torrents:/vault/alto-marr/torrents
      - ${DB_DIR}/alto-marr/sonarr:/config
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_DIR}/alto-marr/media:/vault/alto-marr/media
      - ${DB_DIR}/alto-marr/torrents:/vault/alto-marr/torrents # TODO check if necessary
      - ${DB_DIR}/alto-marr/bazarr:/config
  lidarr:
    container_name: lidarr
    image: lscr.io/linuxserver/lidarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8686:8686
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_DIR}/alto-marr/media:/vault/alto-marr/media
      - ${DB_DIR}/alto-marr/torrents:/vault/alto-marr/torrents # TODO check if necessary
      - ${DB_DIR}/alto-marr/lidarr:/config
  scraparr:
    image: ghcr.io/thecfu/scraparr
    container_name: scraparr
    restart: unless-stopped
    ports:
      - 7100:7100
    volumes:
      - ${CONFIG_DIR}/alto-marr/scraparr:/scraparr/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
