[Unit]
Description=Monitor the current song name
After=network.target

[Service]
User=mendess
Group=mendess
# give root permission to ExecStartPre
PermissionsStartOnly=true
ExecStartPre=/usr/local/bin/music-monitor setup
ExecStart=/usr/local/bin/music-monitor
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
