[Unit]
Description=Backup nextcloud
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-nextcloud

[Install]
WantedBy=default.target
